.main-panel
{
  background:#fdfdfd;
  margin:0px;
  padding:0px;
  height:100%;
  width:100%;
  position:absolute;
}
body
{
    margin:0px;
    padding:0px;
    overflow:hidden;
 }
.top
{
    height:38px;
    background:#4e4d77;
    color:#FFF;
    padding:0px 4px 0px 10px;
    line-height:38px;
    border-bottom: 2px solid #555;
}
.left
{
    position:absolute;
    left:0px;
    top:0px;
}
.welcome
{
	float:right;
	margin-right:20px;
	padding-left:20px;
	background:url("../image/icons/user.png") no-repeat left center;
}
.logotitle
{
	float:left;
	font-size:18px;
	margin:0px 10px;
}
a.normal
{
	color:#fff;
	text-decoration:underline;
}

.x-panel-header
{
    ZOOM: 1;
    FONT: bold 11px/15px tahoma, arial, verdana, sans-serif;
    BACKGROUND: url("../image/bgs/subnav.jpg") repeat-x 0px -1px;
    COLOR: #333;
    OVERFLOW: hidden;
    BORDER: #ccc 1px solid;
    PADDING:7px 3px 6px 5px;
    text-indent:15px;
    font-weight:bold;
}

.x-panel-bwrap {
	ZOOM: 1; OVERFLOW: hidden; TOP: 0px; LEFT: 0px
}
.x-panel-body {
	ZOOM: 1; OVERFLOW: hidden;
	background:#fff;
	position:relative;
	border:#ccc 1px solid;
	border-top:none;
	overflow:auto;
}
.x-panel-body .menutree
{
  margin:5px 5px 3px 5px;
}
.x-tab-panel {
	OVERFLOW: hidden
}
.x-border-panel {
	POSITION: absolute; TOP: 0px; LEFT: 0px
}
.x-unselectable, .x-unselectable * {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select:ignore;
}
.x-panel-noborder,.x-panel-body-noborder
{
    border:none;
}
.x-tab-fullscreen-a
{
 display:none;
}
