.x-tab-panel {
    overflow:hidden;
}

.x-tab-panel-header, .x-tab-panel-footer {
	border: 1px solid #ccc;
    overflow:hidden;
    zoom:1;
    background-color: #EAEAEA;
}

.x-tab-panel-header {
	padding-bottom: 2px;
}

.x-tab-panel-footer {
	padding-top: 2px;
}

.x-tab-strip-wrap {
	width:100%;
    overflow:hidden;
    position:relative;
    zoom:1;
}
.x-tab-panel-header ul
{
    padding:0;
    margin:0;
    list-style-type:none;
    list-style-image:none;
}
.x-tab-panel-header ul li
{
    padding:0;
    margin:0;
}
ul.x-tab-strip {
	display:block;
    width:5000px;
    zoom:1;
}

ul.x-tab-strip-top{
	padding-top: 1px;
	background: #cedff5  url(../image/plugins/tabpanel/tab-strip-bg.gif) repeat-x bottom;
	border-bottom: 1px solid #CCC;
}

ul.x-tab-strip-bottom{
	padding-bottom: 1px;
	background: #cedff5 url(../image/plugins/tabpanel/tab-strip-btm-bg.gif) repeat-x top;
	border-top: 1px solid #CCC;
	border-bottom: 0 none;
}

.x-tab-panel-header-plain .x-tab-strip-top {
    background:transparent !important;
    padding-top:0 !important;
}

.x-tab-panel-header-plain {
    background:transparent !important;
    border-width:0 !important;
    padding-bottom:0 !important;
}

.x-tab-panel-header-plain .x-tab-strip-spacer,
.x-tab-panel-footer-plain .x-tab-strip-spacer {
    border:1px solid #CCC;
    height:2px;
    font-size:1px;
    line-height:1px;
    background-color: #deecfd;
}

.x-tab-panel-header-plain .x-tab-strip-spacer {
    border-top: 0 none;
}

.x-tab-panel-footer-plain .x-tab-strip-spacer {
    border-bottom: 0 none;
}

.x-tab-panel-footer-plain .x-tab-strip-bottom {
    background:transparent !important;
    padding-bottom:0 !important;
}

.x-tab-panel-footer-plain {
    background:transparent !important;
    border-width:0 !important;
    padding-top:0 !important;
}

.ext-border-box .x-tab-panel-header-plain .x-tab-strip-spacer,
.ext-border-box .x-tab-panel-footer-plain .x-tab-strip-spacer {
    height:3px;
}

ul.x-tab-strip li {
    float:left;
    margin-left:2px;
}

ul.x-tab-strip li.x-tab-edge {
    float:left;
    margin:0 !important;
    padding:0 !important;
    border:0 none !important;
    font-size:1px !important;
    line-height:1px !important;
    overflow:hidden;
    zoom:1;
    background:transparent !important;
    width:1px;
}

.x-tab-strip a, .x-tab-strip span, .x-tab-strip em {
	display:block;
}

.x-tab-strip a {
	text-decoration:none !important;
	-moz-outline: none;
	outline: none;
	cursor:pointer;
}

.x-tab-strip-inner {
    overflow:hidden;
	text-overflow: ellipsis;
}

.x-tab-strip span.x-tab-strip-text {
	white-space: nowrap;
	cursor:pointer;
    padding:4px 0;
    font:normal 12px "Courier New",Courier,monospace;
    color:#416aa3;    
}

.x-tab-strip-top .x-tab-with-icon .x-tab-right {
    padding-left:6px;
}

.x-tab-strip .x-tab-with-icon span.x-tab-strip-text {
	padding-left:20px;
    background-position: 0 3px;
    background-repeat: no-repeat;
}

.x-tab-strip-active, .x-tab-strip-active a.x-tab-right {
    cursor:default;
}

.x-tab-strip-over span.x-tab-strip-text {
	color:#15428b;
}

.x-tab-strip-active span.x-tab-strip-text {
	color:#15428b;
    font-weight:bold;   
    cursor:default;
  
}

.ie7 .x-tab-strip-active span.x-tab-strip-text {
	 line-height:120% !important;
}

.x-tab-strip-disabled span.x-tab-strip-text {
	cursor:default;
	color:#aaaaaa ;
}

/*************自定义颜色开始****************/
.x-tab-strip  span.x-tab-strip-text-blue
{
	color:#4986E7;
}

.x-tab-strip  span.x-tab-strip-text-red
{
	color:#FA573C;
}
.x-tab-strip  span.x-tab-strip-text-yellow
{
	color:#FFAD46;
}
.x-tab-strip span.x-tab-strip-text-green
{
	color:#16A765;
}
.x-tab-strip-over span.x-tab-strip-text-blue,.x-tab-strip-active span.x-tab-strip-text-blue
{
	color:#4986E7;
}
.x-tab-strip-over span.x-tab-strip-text-red,.x-tab-strip-active span.x-tab-strip-text-red
{
	color:#FA573C;
}
.x-tab-strip-over span.x-tab-strip-text-yellow,.x-tab-strip-active span.x-tab-strip-text-yellow
{
	color:#FFAD46;
}
.x-tab-strip-over span.x-tab-strip-text-green,.x-tab-strip-active span.x-tab-strip-text-green
{
	color:#16A765;
}
.x-tab-strip-disabled span.x-tab-strip-text-red,.x-tab-strip-disabled span.x-tab-strip-text-green,.x-tab-strip-disabled span.x-tab-strip-text-yellow,.x-tab-strip-disabled span.x-tab-strip-text-blue
{
	cursor:default;
	color:#aaaaaa ;
}
/*************自定义颜色结束************/

.x-tab-panel-bwrap {
    overflow:hidden;
}

.ie .x-tab-strip .x-tab-right {
    position:relative;
}

.x-tab-strip-top .x-tab-strip-active .x-tab-right {
    margin-bottom:-1px;
}

/*
 * Horrible hack for IE8 in quirks mode
 .ext-border-box .ext-ie8 .x-tab-strip .x-tab-right{
    top: 1px;
}

*/

.x-tab-strip-top .x-tab-strip-active .x-tab-right span.x-tab-strip-text {
    padding-bottom:5px;
}

.x-tab-strip-bottom .x-tab-strip-active .x-tab-right {
    margin-top:-1px;
}

.x-tab-strip-bottom .x-tab-strip-active .x-tab-right span.x-tab-strip-text {
    padding-top:5px;
}

.x-tab-strip-top .x-tab-right {
	background: transparent no-repeat 0 -51px;
    padding-left:10px;
}

.x-tab-strip-top .x-tab-left {
	background: transparent no-repeat right -351px;
    padding-right:10px;
}

.x-tab-strip-top .x-tab-strip-inner {
	background: transparent repeat-x 0 -201px;
}

.x-tab-strip-top .x-tab-strip-over .x-tab-right {
	 background-position:0 -101px;
}

.x-tab-strip-top .x-tab-strip-over .x-tab-left {
	 background-position:right -401px;
}

.x-tab-strip-top .x-tab-strip-over .x-tab-strip-inner {
	 background-position:0 -251px;
}

.x-tab-strip-top .x-tab-strip-active .x-tab-right {
	background-position: 0 0;
}

.x-tab-strip-top .x-tab-strip-active .x-tab-left {
	background-position: right -301px;
}

.x-tab-strip-top .x-tab-strip-active .x-tab-strip-inner {
	background-position: 0 -151px;
}

.x-tab-strip-bottom .x-tab-right {
	background: no-repeat bottom right;
}

.x-tab-strip-bottom .x-tab-left {
	background: no-repeat bottom left;
}

.x-tab-strip-bottom .x-tab-strip-active .x-tab-right {
	background: no-repeat bottom left;
}

.x-tab-strip-bottom .x-tab-strip-active .x-tab-left {
	background: no-repeat bottom right;
}

.x-tab-strip-bottom .x-tab-left {
    padding:0 10px;
}

.x-tab-strip-bottom .x-tab-right {
    padding:0;
}

.x-tab-strip .x-tab-strip-close {
    display:none;
}

.x-tab-strip-closable {
    position:relative;
}

.x-tab-strip-closable .x-tab-left {
    padding-right:19px;
}

.x-tab-strip .x-tab-strip-closable a.x-tab-strip-close {
    opacity:.6;
    -moz-opacity:.6;
    background-repeat:no-repeat;
    display:block;
	width:11px;
    height:11px;
    position:absolute;
    top:3px;
    right:3px;
    cursor:pointer;
    z-index:2;
}

.x-tab-strip .x-tab-strip-active a.x-tab-strip-close {
    opacity:.8;
    -moz-opacity:.8;
}
.x-tab-strip .x-tab-strip-closable a.x-tab-strip-close:hover{
    opacity:1;
    -moz-opacity:1;
}
.x-tab-strip li.x-tab-closeall
{
    margin-left:0px;
}
.x-tab-strip .x-tab-closeall a
{
    display:block;
    width:24px;
    background:url("../image/plugins/tabpanel/closeallbg.gif")  no-repeat left top;
    padding:5px 0px 4px 0px;
}
.x-tab-strip .x-tab-closeall a:hover
{
    background-position: 0px -50px;
}
.x-tab-scroller-left {
    background: transparent no-repeat -18px 0;
    border-bottom: 1px solid;
    width:18px;
    position:absolute;
    left:0;
    top:0;
    z-index:10;
    cursor:pointer;
}
.x-tab-scroller-left-over {
    background-position: 0 0;
}

.x-tab-scroller-left-disabled {
    background-position: -18px 0;
    opacity:.5;
    -moz-opacity:.5;
    filter:alpha(opacity=50);
    cursor:default;
}

.x-tab-scroller-right {
    background: transparent no-repeat 0 0;
    border-bottom: 1px solid;
    width:18px;
    position:absolute;
    right:0;
    top:0;
    z-index:10;
    cursor:pointer;
}

.x-tab-scroller-right-over {
    background-position: -18px 0;
}

.x-tab-scroller-right-disabled {
    background-position: 0 0;
    opacity:.5;
    -moz-opacity:.5;
    filter:alpha(opacity=50);
    cursor:default;
}

.x-tab-scrolling-bottom .x-tab-scroller-left, .x-tab-scrolling-bottom .x-tab-scroller-right{
    margin-top: 1px;
}

.x-tab-scrolling .x-tab-strip-wrap {
    margin-left:18px;
    margin-right:18px;
}

.x-tab-scrolling {
    position:relative;    
}

.x-tab-panel-bbar .x-toolbar {
    border:1px solid;
    border-top:0 none;
    overflow:hidden;
    padding:2px;
}

.x-tab-panel-tbar .x-toolbar {
    border:1px solid;
    border-top:0 none;
    overflow:hidden;
    padding:2px;
}

.x-tab-strip-top .x-tab-right, .x-tab-strip-top .x-tab-left, .x-tab-strip-top .x-tab-strip-inner{
	background-image: url(../image/plugins/tabpanel/tabs-sprite.gif);
}

.x-tab-strip-bottom .x-tab-right {
	background-image: url(../image/plugins/tabpanel/tab-btm-inactive-right-bg.gif);
}

.x-tab-strip-bottom .x-tab-left {
	background-image: url(../image/plugins/tabpanel/tab-btm-inactive-left-bg.gif);
}

.x-tab-strip-bottom .x-tab-strip-active .x-tab-right {
	background-image: url(../image/plugins/tabpanel/tab-btm-right-bg.gif);
}

.x-tab-strip-bottom .x-tab-strip-active .x-tab-left {
	background-image: url(../image/plugins/tabpanel/tab-btm-left-bg.gif);
}

.x-tab-strip .x-tab-strip-closable a.x-tab-strip-close {
	background-image:url(../image/plugins/tabpanel/tab-close.gif);
}

.x-tab-strip .x-tab-strip-closable a.x-tab-strip-close:hover{
	background-image:url(../image/plugins/tabpanel/tab-close.gif);
}

.x-tab-panel-body {   
    background-color:#fff;
    border: 1px solid #CCC;
    overflow:hidden;
}

.x-tab-panel-body-top {
    border-top: 0 none;
}

.x-tab-panel-body-bottom {
    border-bottom: 0 none;
}

.x-tab-scroller-left {
    background-image:url(../image/plugins/tabpanel/scroll-left.gif);
    border-bottom-color:#CCC;
}

.x-tab-scroller-left-over {
    background-position: 0 0;
}

.x-tab-scroller-left-disabled {
    background-position: -18px 0;
    opacity:.5;
    -moz-opacity:.5;
    filter:alpha(opacity=50);
    cursor:default;
}

.x-tab-scroller-right {
    background-image:url(../image/plugins/tabpanel/scroll-right.gif);
    border-bottom-color:#CCC;
}

.x-tab-panel-bbar .x-toolbar, .x-tab-panel-tbar .x-toolbar {
    border-color:#99bbe8;
}
.x-clear {
    clear:both;
    height:0;
    overflow:hidden;
    line-height:0;
    font-size:0;
}
.x-hide-display
{
    display:none !important;
}
.x-el-mask
{
    z-index:100;
    position:absolute;
    filter:alpha(opacity=50); BACKGROUND-COLOR: #ccc;
    width:100%;
    height:100%;
    left:0px;
    top:0px;
    zoom:1;
    -moz-opacity:0.5;
    opacity:50;
}
.x-el-mask-msg {
    z-index: 20001;
    position: absolute;
    top: 0;
    left: 0;
    border:1px solid #6593cf;
    background:#c3daf9 url(../image/plugins/tabpanel/tb-blue.gif) repeat-x 0 -16px;
    padding:2px;
}

.x-el-mask-msg div {
    padding:5px 10px 5px 10px;
    border:1px solid #a3bad9;
    cursor:wait;
    color:#222;
    font:normal 12px "微软雅黑" tahoma, arial, helvetica, sans-serif;
}

.x-mask-loading div 
{
    padding:5px 10px 5px 25px;
    background:#fbfbfb url(../image/plugins/tabpanel/loading.gif) no-repeat 5px 5px;
    line-height:16px;
}
a.x-tab-fullscreen-a
{	
	position:absolute;
	right:10px;
	margin-top:-26px;
}
a.x-tab-fullscreen-a img
{
	height:16px;
	width:16px;
	background:url(../image/plugins/tabpanel/fullscreen.png) no-repeat top left;
	z-index:20002;
}
a.x-tab-restorescreen-a
{		
	position:absolute;
	right:10px;
	margin-top:-26px;
}
a.x-tab-restorescreen-a img
{
	background:url(../image/plugins/tabpanel/restorescreen.png) no-repeat top left;
}
.x-tab-panel
{
	position:absolute;
	left:0px;
	top:0px;
	z-index:900;
	margin:0;
}
.x-tab-hidefullscreenicon a.x-tab-fullscreen-a
{
	display:none;
}